.meal-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    background: white;
    padding: 20px 0px 0px 7px;

    &__image {
        width: 2.0rem;
        height: 2.0rem;
        border-radius: 50%;
        background: #f9f9f9;
        margin-right: .8rem;
        background-size: cover;
        background-position: center;
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
    }

    &__name {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    &__data {
        font-size: .8rem;
        font-weight: lighter;
    }

    &__price {
        color: #12b312  ;
        font-size: 1rem;
    }
}