.home {
    
    &:after {
        content: "";
        background: #fe5722;
        position: absolute;
        z-index: -1;
        width: 140%;
        height: 20rem;
        border-radius: 50%;
        left: -18%;
        top: 0;
    }
}
