html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** Gotham **/
@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url(fonts/GothamLight-3f6969ada534de188f1956dd87359296.otf); }

@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url(fonts/GothamMedium-77171d8f5b5283f9d47a3434704bf944.ttf); }

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url(fonts/GothamBold-14b3a355f612d6181e891efd2c798b5f.otf); }

html, body, #root {
  width: 100%;
  height: 100%; }

body {
  font-family: Gotham;
  font-weight: 500;
  font-size: 14px; }

.activity {
  position: relative;
  overflow: hidden;
  padding: 0rem; }
  .activity__header {
    padding: 10px 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .activity__header-logo {
      width: 5rem; }
    .activity__header-restaurant-name {
      font-size: 0.9rem;
      color: white;
      margin: 0.5rem; }
    .activity__header-restaurant-image {
      border-radius: 50%;
      width: 2.7rem;
      height: 2.7rem; }
  .activity__section {
    margin-top: 5rem; }
    .activity__section .padded {
      padding: 1.2rem; }
    .activity__section .padded-x {
      padding: 0 1.2rem; }
    .activity__section .padded-y {
      padding: 1.2rem 0; }
  .activity h1 {
    font-size: 1.5rem; }
  .activity h2 {
    font-size: 1.3rem;
    font-weight: lighter; }

.header {
  background: #fe5722;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; }

.header-item {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem;
  font-size: 1.4rem; }

.order-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: .5rem; }
  .order-list__header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap; }
  .order-list__image {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: .8rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .order-list__details {
    display: flex;
    flex-flow: column nowrap;
    flex: 1; }
  .order-list__name {
    font-size: 1rem;
    margin-bottom: 3px; }
  .order-list__info {
    display: flex;
    flex-flow: row nowrap;
    flex: 1; }
  .order-list__percentage-ratio {
    font-size: 0.5rem;
    color: #000000;
    font-weight: bold; }
  .order-list__price {
    color: #48D548;
    font-weight: bold; }
  .order-list__data {
    margin-left: 0.3rem;
    font-weight: lighter; }
  .order-list__angle {
    font-size: 1.4rem; }
  .order-list__content {
    display: none; }
  .order-list__content[active=true] {
    display: inline; }

.meal-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  background: white;
  padding: 20px 0px 0px 7px; }
  .meal-list__image {
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 50%;
    background: #f9f9f9;
    margin-right: .8rem;
    background-size: cover;
    background-position: center; }
  .meal-list__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1; }
  .meal-list__name {
    font-size: 1rem;
    margin-bottom: 3px; }
  .meal-list__data {
    font-size: .8rem;
    font-weight: lighter; }
  .meal-list__price {
    color: #12b312;
    font-size: 1rem; }

.home__order-list-view {
  display: flex;
  flex-flow: column nowrap; }
  .home__order-list-view a {
    color: #000;
    text-decoration: none; }


/*# sourceMappingURL=main.css.map*/